<div class="container mt-5">
    <div class="login">
        <h1>Login</h1>
        <br>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Nhập username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Nhập password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="loginSubmit">Đăng nhập</button>
        </form>
        <br>
        <span>
            Bạn chưa có tài khoản
            <a id="registerBtn" href="#">Đăng ký</a>
        </span>
    </div>

    <div class="register">
        <h1>Register</h1>
        <a id="backBtn" href="#">Quay trở lại</a>
        <br>
        <form>
            <div class="form-group">
                <label for="username-rgt">Username</label>
                <input type="text" class="form-control" id="username-rgt" name="username" placeholder="Nhập username">
            </div>
            <div class="form-group">
                <label for="password-rgt">Password</label>
                <input type="password" class="form-control" id="password-rgt" name="password" placeholder="Nhập password">
            </div>
            <div class="form-group">
                <label for="name-rgt">Họ và tên</label>
                <input type="text" class="form-control" id="name-rgt" name="name" placeholder="Nhập họ tên của bạn">
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="registerSubmit">Đăng ký</button>
        </form>
    </div>
</div>